<div class="modal">
    <button class="close" (click)="action.emit()">+</button>
    <div class="modal-group">
        <label for="background">Background</label>
        <input type="color"
               id="background"
               name="background"
               #name="ngModel"
               (ngModelChange)="model.background = $event; updateTheme()"
               [(ngModel)]="model.background">
    </div>
    <div class="modal-group">
        <label for="color">Text color</label>
        <input type="color"
               id="color"
               name="color"
               #name="ngModel"
               (ngModelChange)="model.color = $event; updateTheme()"
               [(ngModel)]="model.color">
    </div>
    <div class="modal-group">
        <label for="fontSize">Font size</label>
        <input min="10"
               max="20"
               type="range"
               id="fontSize"
               name="fontSize"
               #name="ngModel"
               (ngModelChange)="model.size = $event; updateTheme()"
               [(ngModel)]="model.size">
    </div>
    <div class="modal-group">
        <label for="cursor">Cursor type</label>
        <select id="cursor"
                name="cursor"
                #name="ngModel"
                (ngModelChange)="model.cursor = $event; updateTheme()"
                [(ngModel)]="model.cursor">
            <option value="auto">Auto</option>
            <option value="crosshair">Crosshair</option>
            <option value="grab">Grab</option>
            <option value="none">None</option>
        </select>
    </div>
</div>
